<h1>Your Cart</h1>

<% if @cart_items.nil? %>
  <p>You have no items in your cart. Get shopping!</p>
<% else %>
<ul>
  <% @cart_items.each do |item_id, quant| %>
    <li><%= Product.find(item_id) %>: <%= quant %></li>
  <% end %>
</ul>
<% end %>
