<ul>
<% @all_rates.each do |product, rates| %>
  Product: <%= product %> 
  <% rates.each do |rate| %> 
    <li><%= rate[0] %>: <%= number_to_currency(rate[1] / 100) %></li>
  <% end %> 
<% end %> 
</ul>



