<h1>Merchant Home</h1>
<h4>Welcome, <%= @merchant.username %></h4>

<%= link_to "View Your Products", merchant_products_path(@merchant.id) %>
<br>
<%= link_to "View Your Orders", merchant_orders_path(@merchant.id) %>
