<h1>Your Cart</h1>

<% if @cart_items.nil? %>
  <p>You have no items in your cart. Get shopping!</p>
<% else %>
<ul>
  <% @cart_items.each do |product_id, quantity| %>
      <li><%= Product.find(product_id).name %>: <%= quantity %></li>
  <% end %>
</ul>
<% end %>

<%= button_to "Empty Cart", cart_path(1), method: :delete %>
