<h1>Edit OrderItem Status</h1>

<form class="form">
  <div class="form-group">
    <%= form_for @orderitem, url: { action: "update"}, method: :patch, :html => { :class => "form"} do |f| %>
      <%= f.radio_button :status, "not shipped" %>Not Shipped<br>
      <%= f.radio_button :status, "shipped" %>Shipped<br>
      <%= f.submit "Edit", class: "btn btn-default" %>
    <% end %>
  </div>
</form>
